### commented out the single idea things, as this is a bad behaviour
### the thing is that in theory thats great if everyone runs the exact same setup, 
### however most devs don't and have personalised the setup of their IDE
### when i loaded the project for the first time it basically rewrote 
### the whole .idea folder, and i would have had to commit that, having
### you when you open it your version rewrite it again. thats just 
### unecessary merge conflicts waiting to happen, hence in opensource projects
### ide specific files should not be committed.
.idea 

# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
#.idea/workspace.xml
#.idea/tasks.xml
#.idea/dictionaries
#.idea/vcs.xml
#.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
#.idea/dataSources.ids
#.idea/dataSources.xml
#.idea/dataSources.local.xml
#.idea/sqlDataSources.xml
#.idea/dynamic.xml
#.idea/uiDesigner.xml

# Gradle:
#.idea/gradle.xml
#.idea/libraries

# Mongo Explorer plugin:
#.idea/mongoSettings.xml

## File-based project format:
#*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
#.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml


# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

## Composer
vendor/
composer.phar

## Application specific files:
config/config.php
cache/*
logs/*
phinx.yml
public/apidoc/
