<div id="main_menu">
    <ul>
        <div class="navigation-section">
            <li><a class="link" href="/">Home</a></li>
            <li><a class="link" href="#">Kills</a></li>
            <li><a class="link" href="#">Battles</a></li>
            <li><a class="link" href="#">Wars</a></li>
            <li><a class="link" href="#">Map</a></li>
            <li><a class="link" href="#">Post</a></li>
            <li><a class="link" href="#">Top</a></li>
        </div>
    </ul>
    <div style="float: right">
        <a class="link" href="#">Status</a>
        <a class="link" href="#">Contact</a>
        <a class="link" href="#">Login</a>
        <a id="displayText" href="javascript:void(0)" onclick="toggle('toggleText')">Post Killmail</a>
    </div>
</div>