{% extends "base.twig" %}

{% set title = name %}
{#
    Variables available:
    Type: what page is being shown.
    Page: what page number the user is requesting
#}

{% block js %}
    <script src="/js/killlist.js"></script>
    <script>
        // Generate the killlist
        generateKillList("/api/killlist/{{ type }}/{% if page > 0 %}{{ page }}/{% endif %}", false, {{ page }});
    </script>
{% endblock %}

{% block css %}
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <!-- The Killlist -->
            <div class="table-responsive">
                <table id="killlist" class="table table-striped table-hover table-sm">
                    <thead class="thead-inverse">
                    <tr>
                        <th class='hidden-sm-down'>Time</th>
                        <th class='hidden-md-down'>Ship</th>
                        <th>Place</th>
                        <th class='hidden-md-down'></th>
                        <th>Victim</th>
                        <th class='hidden-md-down'></th>
                        <th>Final Blow</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}