<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Title -->
    <title>New Eden</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/global.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">Project name</a>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-10">
            <!-- Most Valuable kills -->
            <div id="mostValuableKills" class="hidden-md-down row flex-items-xs-center">
            </div>


            <!-- The Killlist -->
            <div class="table-responsive">
                <table id="killlist" class="table table-striped table-hover table-sm">
                    <thead class="thead-inverse">
                    <tr>
                        <th class='hidden-sm-down'>Time</th>
                        <th class='hidden-md-down'>Ship</th>
                        <th>Place</th>
                        <th class='hidden-md-down'></th>
                        <th>Victim</th>
                        <th class='hidden-md-down'></th>
                        <th>Final Blow</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-md-2 hidden-md-down">
            <div id="topCharacters"></div>
            <div id="topCorporations"></div>
            <div id="topAlliances"></div>
            <div id="topSolarSystems"></div>
            <div id="topRegions"></div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
<script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js"></script>

<!-- All the site specific js - yes it will change and become less nasty - but all in due time ! -->
<script src="/js/common.js"></script>
<script src="/js/topkills.js"></script>
<script src="/js/top10Characters.js"></script>
<script src="/js/top10Corporations.js"></script>
<script src="/js/top10Alliances.js"></script>
<script src="/js/top10SolarSystems.js"></script>
<script src="/js/top10Regions.js"></script>
<script src="/js/killlist.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
