<!DOCTYPE html>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2016. Michael Karbowiak
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embrace Eternity</title>

    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection"/>

    <style>
        body {
            background-image: url(/img/thessia_by_graceyn-d5822lu.jpg);
            background-color: rgb(60, 74, 136);
            background-blend-mode: darken;
        }
    </style>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <!-- Navbar-->
    <nav class="grey darken-4">
        <div class="nav-wrapper">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">view_headline</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="#">Home</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Stuff</a></li>
                <li><a href="#">More stuff</a></li>
                <li><a href="#">Even more stuff</a></li>
                <li><a href="#">Less stuff</a></li>
            </ul>
            <ul>
                <li><a href="#">Other stuff</a></li>
            </ul>
            <ul id="slide-out" class="side-nav">
                <li><div class="userView">
                        <img class="background" src="http://materializecss.com/images/office.jpg">
                        <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
                        <a href="#!name"><span class="white-text name">John Doe</span></a>
                        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div></li>
                <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                <li><a href="#!">Second Link</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
        </div>
    </nav>

    <!-- The body -->
    <div class="valign center-align">
        <img src="/img/logo_370.svg" style="padding-top: 100px; width: 350px">
    </div>

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Custom JS -->
    <script>
        $( document ).ready(function() {
            $(".button-collapse").sideNav({
                menuWidth: 300,
                edge: "left",
                closeOnClick: true
            });

            $('.parallax').parallax();
        })
    </script>

</body>
</html>